{% extends "base.html" %}
{% load i18n %}

{% block center %}
<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <p><button type="submit" class="button expanded">{% trans 'Log in' %}</button></p>
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
{% endblock %}
