{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>SSBW - Restaurantes</title>
	<link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/app.css' %}">

	<script src="{% static 'js/angular.min.js' %}"></script>

	<script type="text/javascript">
		var myApp = angular.module('myApp',[]);


		// Controllers
		myApp.controller('MyController', ['$scope', function($scope) {
			$scope.greeting = 'Hi!';
			$scope.double = function(k){ return k*2; };
			$scope.putPi = function(){ $scope.number=3.14; };
		}]);

		myApp.controller('Restaurants', function($scope, $http) {
			$http.get("/resta/api/restaurantes?format=json").then(function(response) {
			      $scope.restaurants = response.data;
			}, function(e){
				// error
				alert("Error!");
			});
			$scope.getRestaurants = function(){
				$http.get("/resta/api/restaurantes?format=json").then(function(response) {
			      $scope.restaurants = response.data;
				}, function(e){
					// error
					alert("Error!");
				});
			};
			$scope.deleteRestaurant = function(slug){
				$http.delete("/resta/api/restaurante/"+ slug).then(function(response) {
					alert("Eliminado!");
					$scope.getRestaurants();
				}, function(e){
					// error
					alert("Error!");
				});
			};
			$scope.addRestaurant = function(slug){
				var data = { 
					"nombre": $scope.newName,
			        "direccion": $scope.newDirection,
			        "email": $scope.newEmail,
			        "telefono": $scope.newPhone,
			        "slug": "it-doesnt-matter"
				};
				$http.post("/resta/api/restaurantes", data).then(function(response) {
					if(response.data.nombre != $scope.newName)
					{
						return alert("Error! " + JSON.stringify(response.data));
					}
					// Clean data
					$scope.newName = "";
					$scope.newEmail = "";
					$scope.newDirection = "";
					$scope.newPhone = "";

					alert("Añadido!");
					$scope.getRestaurants();
				}, function(e){
					// error
					alert("Error!");
				});
			};
			$scope.editRestaurant = function(slug){
				var data = { 
					"nombre": $scope.newName,
			        "direccion": $scope.newDirection,
			        "email": $scope.newEmail,
			        "telefono": $scope.newPhone,
			        "slug": "it-doesnt-matter"
				};
				$http.put("/resta/api/restaurante/"+ slug, data).then(function(response) {
					if(response.data.nombre != $scope.newName)
					{
						return alert("Error! " + JSON.stringify(response.data));
					}
					// Clean data
					$scope.newName = "";
					$scope.newEmail = "";
					$scope.newDirection = "";
					$scope.newPhone = "";

					alert("Editado!");
					$scope.getRestaurants();
				}, function(e){
					// error
					alert("Error!");
				});
			};
			$scope.showEditRestaurant = function(slug, name, dir, telf, email){
				$scope.editSlug = slug;
				$scope.newName = name;
				$scope.newEmail = email;
				$scope.newDirection = dir;
				$scope.newPhone = telf;

				$("#editBtn").show();
			};
		});


	</script>

</head>
<body ng-app="myApp">

	{% verbatim %}
	<div ng-app ng-init="esto=Nada">
		<input ng-model="esto"/>
		<br>
		Esto = <i>{{ esto }}</i>
	</div>

	<div ng-init="qty=1;cost=2">
	  <b>Invoice:</b>
	  <div>
	    Quantity: <input type="number" min="0" ng-model="qty">
	  </div>
	  <div>
	    Costs: <input type="number" min="0" ng-model="cost">
	  </div>
	  <div>
	    <b>Total:</b> {{qty * cost | currency}}
	  </div>
	</div>


	<div ng-controller="MyController" ng-init="number=2">
		<div>
	    	Quantity: <input type="number" min="0" ng-model="number">
	    	{{ double(number) }}
	  	</div>
	  	<button ng-click="putPi()">Pi</button>
	</div>


	<div ng-controller="Restaurants">
		<b>Restaurantes: </b>
		<table>
			<tr>
				<td><b>Nombre</b></td> <td><b>Dirección</b></td> <td><b>Teléfono</b></td> <td><b>Email</b></td>
		  	</tr>
		  	<tr>
				<td><input type="text" ng-model="newName" placeholder="Nombre"></td>
				<td><input type="text" ng-model="newDirection" placeholder="Direccion"></td>
				<td><input type="text" ng-model="newPhone" placeholder="Teléfono"></td>
				<td><input type="email" ng-model="newEmail" placeholder="Email"></td>
				<td ng-click="addRestaurant()"><a href="#!">Añadir</a></td>
				<td ng-click="editRestaurant()" style="display:none" id="editBtn"><a href="#!">Guardar</a><input type="hidden" ng-model="editSlug" value="{{ editSlug }}"></td>
		  	</tr>
			<tr ng-repeat="r in restaurants">
				<td>{{ r.nombre }}</td>
				<td>{{ r.direccion }}</td>
				<td>{{ r.telefono }}</td>
				<td>{{ r.email }}</td>
				<td><a href="#!" data-toggle="editRestaurantModal" ng-click="showEditRestaurant(r.slug)">Editar</a></td>
				<td ng-click="deleteRestaurant(r.slug, r.nombre, r.direccion, r.telefono, r.email)"><a href="#!">Eliminar</a></td>
		  	</tr>
	  	</table>

	</div>

	{% endverbatim %}

	<script src="{% static 'js/vendor/jquery.min.js' %}"></script>
	<script src="{% static 'js/foundation.min.js' %}"></script>
	<script src="{% static 'js/app.js' %}"></script>
	<script>
	$(document).foundation();
	</script>

</body>
</html>