{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>SSBW - Restaurantes</title>
	<link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/app.css' %}">

	<script src="{% static 'js/angular.min.js' %}"></script>

	<script type="text/javascript">
		var myApp = angular.module('myApp',[]);


		// Controllers
		myApp.controller('MyController', ['$scope', function($scope) {
			$scope.greeting = 'Hi!';
			$scope.double = function(k){ return k*2; };
			$scope.putPi = function(){ $scope.number=3.14; };
		}]);

		myApp.controller('Restaurants', function($scope, $http) {
			$http.get("/resta/api/restaurantes?format=json").then(function(response) {
			      $scope.restaurants = response.data;
			}, function(e){
				// error
				showMessage("Error!", "alert");
			});
			$scope.getRestaurants = function(){
				$http.get("/resta/api/restaurantes?format=json").then(function(response) {
			      $scope.restaurants = response.data;
				}, function(e){
					// error
					showMessage("Error!", "alert");
				});
			};
			$scope.deleteRestaurant = function(slug){
				$http.delete("/resta/api/restaurante/"+ slug).then(function(response) {
					showMessage("Eliminado!", "success");
					$scope.getRestaurants();
				}, function(e){
					// error
					showMessage("Error!", "alert");
				});
			};
			$scope.addRestaurant = function(slug){
				var data = { 
					"nombre": $scope.newName,
			        "direccion": $scope.newDirection,
			        "email": $scope.newEmail,
			        "telefono": $scope.newPhone,
			        "slug": "it-doesnt-matter"
				};
				$http.post("/resta/api/restaurantes", data).then(function(response) {
					if(response.data.nombre != $scope.newName)
					{
						return showMessage("Error! " + JSON.stringify(response.data), "alert");
					}
					// Clean data
					$scope.newName = "";
					$scope.newEmail = "";
					$scope.newDirection = "";
					$scope.newPhone = "";

					showMessage("Añadido!", "success");
					$scope.restaurants.push(data);
				}, function(e){
					// error
					showMessage("Error!", "alert");
				});
			};
			$scope.editRestaurant = function(){
				var slug = $scope.editSlug;
				var data = { 
					"nombre": $scope.newName,
			        "direccion": $scope.newDirection,
			        "email": $scope.newEmail,
			        "telefono": $scope.newPhone,
			        "slug": "it-doesnt-matter"
				};
				$http.put("/resta/api/restaurante/"+ $scope.editSlug +"/", data).then(function(response) {
					// Clean data
					$scope.newName = "";
					$scope.newEmail = "";
					$scope.newDirection = "";
					$scope.newPhone = "";

					showMessage("Editado!", "success");
					$scope.getRestaurants();
				}, function(e){
					// error
					showMessage("Error!", "alert");
				});
				$("#editBtn").hide();
			};
			$scope.showEditRestaurant = function(slug, name, dir, telf, email){
				$scope.editSlug = slug;
				$scope.newName = name;
				$scope.newEmail = email;
				$scope.newDirection = dir;
				$scope.newPhone = telf;

				$("#editBtn").show();
			};
		});


	</script>

</head>
<body ng-app="myApp">

	{% verbatim %}

	<!--
	<div ng-app ng-init="esto=Nada">
		<input ng-model="esto"/>
		<br>
		Esto = <i>{{ esto }}</i>
	</div>

	<div ng-init="qty=1;cost=2">
	  <b>Invoice:</b>
	  <div>
	    Quantity: <input type="number" min="0" ng-model="qty">
	  </div>
	  <div>
	    Costs: <input type="number" min="0" ng-model="cost">
	  </div>
	  <div>
	    <b>Total:</b> {{qty * cost | currency}}
	  </div>
	</div>


	<div ng-controller="MyController" ng-init="number=2">
		<div>
	    	Quantity: <input type="number" min="0" ng-model="number">
	    	{{ double(number) }}
	  	</div>
	  	<button ng-click="putPi()">Pi</button>
	</div>
	-->

	<div id="alerts" style="position:fixed;top:3px;right:5px;width:230px;"></div>
	
	<div ng-controller="Restaurants" ng-init="restaurants=[]">
		<h1>Restaurantes ({{ restaurants.length }}): </h1>
		<table>
			<tr>
				<td><b>Nombre</b></td> <td><b>Dirección</b></td> <td><b>Teléfono</b></td> <td><b>Email</b></td>
		  	</tr>
		  	<tr ng-form name="myform">
				<td><input type="text" ng-model="newName" placeholder="Nombre" required></td>
				<td><input type="text" ng-model="newDirection" placeholder="Direccion" required></td>
				<td><input type="text" ng-model="newPhone" placeholder="Teléfono" required></td>
				<td><input type="email" name="email" ng-model="newEmail" placeholder="Email" required></td>
				<td><button ng-click="addRestaurant()" class="button success" ng-disabled="!myform.$valid">Añadir</button></td>
				<td style="display:none" id="editBtn"><button ng-click="editRestaurant()" class="button secondary" ng-disabled="!myform.$valid">Guardar</button><input type="hidden" ng-model="editSlug" value="{{ editSlug }}"></td>
				
				<!--<pre>{{ myform.$valid | json }}</pre>-->
				
		  	</tr>
			<tr ng-repeat="r in restaurants">
				<td>{{ r.nombre }}</td>
				<td>{{ r.direccion }}</td>
				<td>{{ r.telefono }}</td>
				<td>{{ r.email }}</td>
				<td><a href="#!" data-toggle="editRestaurantModal" ng-click="showEditRestaurant(r.slug, r.nombre, r.direccion, r.telefono, r.email)" class="button">Editar</a></td>
				<td ng-click="deleteRestaurant(r.slug, r.nombre, r.direccion, r.telefono, r.email)"><a href="#!" class="button alert">Eliminar</a></td>
		  	</tr>
	  	</table>

	</div>

	{% endverbatim %}

	<script src="{% static 'js/vendor/jquery.min.js' %}"></script>
	<script src="{% static 'js/foundation.min.js' %}"></script>
	<script src="{% static 'js/app.js' %}"></script>
	<script>
	$(document).foundation();
	function showMessage(message, type) {
	    $("#alerts").append('<div class="'+type+' callout" data-closable="slide-out-right">'+message+'<button class="close-button" aria-label="Dismiss alert" type="button" data-close><span aria-hidden="true">&times;</span></button></div>');
	    $(document).foundation();
	}
	</script>

</body>
</html>